<nav class="site-nav">
    <a class="site-nav__brand" href="/">Keybase&nbsp;<span>Book</span></a>
    {# 这里的 section.route 用于构建跳转链接，如果不在具体章节页，则跳到首页 #}
    <div class="site-nav__actions">
        {% set original_link = "https://book.keybase.io/" + (section.route if section else "") %}
        <a class="site-nav__jump site-nav__jump--primary" href="{{ original_link }}" target="_blank">查看原版</a>
        <a class="site-nav__jump" href="https://keybase.io">前往 keybase.io</a>
    </div>
</nav>